@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display:swap');

/* Gestion du menu responsive */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: sans-serif;
    background-color: #000;
  }
  
  header {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    padding: 0 2rem;
  }
  
  nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 2rem;
  }
  
  .toggle {
    display: none;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 500px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  @media all and (max-width: 991px) {
    header {
      background: transparent;
    }
  
    .toggle {
      display: block;
      font-size: 2rem;
      cursor: pointer;
      position: relative;
      z-index: 20;
    }
  
    .logo {
      position: relative;
      z-index: 20;
    }
  
    .ouvrir {
      display: block;
    }
  
    .fermer {
      display: none;
    }
  
    .open .ouvrir {
      display: none;
    }
  
    .open .fermer {
      display: block;
    }
  
    .menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #000;
      flex-direction: column;
      padding: 2rem;
      justify-content: space-around;
      transform: translateX(-100%);
      transition: transform 1s;
    }
  
    .menu li a {
        font-size: 2rem;
    }
  
    .open .menu {
      transform: translateX(0);
    }
  }

  
body {
  display: flex;
  justify-content: right;
  margin-right: 100px;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

body::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f00, #f0f);
  clip-path: circle(30% at right);
}

body::after {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3, #e91e63);
  clip-path: circle(20% at 10% 10%);
}

.cards{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}
.cards h1{
  font-size: 40px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services{
  display: flex;
  align-items: center;
}
.content{
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 2px solid rgb(211, 7, 7);
  border-radius: 4px;
  transition: all .3s ease;
}
.content .fab{
  font-size: 70px;
  margin: 16px 0;
}
.content > *{
  flex: 1 1 100%;
}
.content:hover{
  color: white;
}
.content:hover a{
  border-color: white;
  background: white;
}
.content-1:hover{
  border-color: #4267B2;
  background: #4267B2;
}
.content-1:hover a{
  color: #4267B2;
}
.content-2:hover{
  border-color: #075e54;
  background: #075e54;
}
.content-2:hover a{
  color: #075e54;
}
.content-3:hover{
  border-color: #ff0000;
  background: #ff0000;
}
.content-3:hover a{
  color: #ff0000;
}
.content h2{
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content p{
  font-size: 17px;
  font-family: 'Poppins',sans-serif;
}
.content a{
  margin: 22px 0;
  background: black;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 15px 0;
  border-radius: 25px;
  transition: .3s ease;
}
.content a:hover{
  border-radius: 4px;
}
@media (max-width: 900px) {
  .services{
    display: flex;
    flex-direction: column;
  }
}