@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display:swap');

/* Gestion du menu responsive */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: sans-serif;
    background-color: #000;
  }
  
  header {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    padding: 0 2rem;
  }
  
  nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 2rem;
  }
  
  .toggle {
    display: none;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 500px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .hero {
    height: 100vh;
    background: url('img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  @media all and (max-width: 991px) {
    header {
      background: transparent;
    }
  
    .toggle {
      display: block;
      font-size: 2rem;
      cursor: pointer;
      position: relative;
      z-index: 20;
    }
  
    .logo {
      position: relative;
      z-index: 20;
    }
  
    .ouvrir {
      display: block;
    }
  
    .fermer {
      display: none;
    }
  
    .open .ouvrir {
      display: none;
    }
  
    .open .fermer {
      display: block;
    }
  
    .menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #000;
      flex-direction: column;
      padding: 2rem;
      justify-content: space-around;
      transform: translateX(-100%);
      transition: transform 1s;
    }
  
    .menu li a {
        font-size: 2rem;
    }
  
    .open .menu {
      transform: translateX(0);
    }
  }

  body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #000;
    margin-top: 100px;
  }
  
  body::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right);
  }

  body::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
  }

  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
} */

.container {
  display: flex;
  position: absolute;
  z-index: 10;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.tag-green {
  background: #1cef09;
  background: linear-gradient(to bottom, #0ef15e, #1cef09);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}
